body{
    background-color: hsl(20, 50%, 98%);
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
     font-family: "Red Hat Text", sans-serif;
}
#nav-bar{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#full-div{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto
}
/* First Cards */
#first-main-div{
    
}
.making-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
    gap: 10px;
}
.cards-child1{

  align-items: start;
}
.image-waffle-1{
    width: 200px;
    border-radius: 10px;
}
.add-to-cart-icon{
 width: 17px;
}
.add-to-cart-btn{
    height: 35px;
    width:140px ;
    border: 1px solid hsl(12, 20%, 44%);
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.before-hover{
     justify-content: center;
    align-items: center;
    gap: 10px;
    display:flex;
    font-size: 10px;
}
.add-to-cart-btn:hover{
    background-color: hsl(14, 86%, 42%);
}

.after-hover{
    display:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.plusbutton{

   color: white;
   background-color: hsl(14, 86%, 42%);
   border: 1px solid white;
   border-radius: 50%;
   cursor: pointer;
}
.minusbutton{
       color: white;
   background-color: hsl(14, 86%, 42%);
   border: 1px solid white;
   border-radius: 50%;
   width: 20px;
   cursor: pointer;
}
.countdownid{
 color: white;
}
.price-tags{
    color: hsl(14, 86%, 42%);
}
.fade-tittle{
    color: hsl(14, 25%, 72%);
}

/* Cards1- End Here */

.cards-child2{
      align-items: start;
}
.add-to-cart-icon2{
 width: 17px;
}
.add-to-cart-btn2{
    height: 35px;
    width:140px ;
    border: 1px solid hsl(12, 20%, 44%);
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add-to-cart-btn2:hover{
    background-color: hsl(14, 86%, 42%);
}
.before-hover2{
     justify-content: center;
    align-items: center;
    gap: 10px;
    display:flex;
    font-size: 10px;
}
.after-hover2{
    display:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.plusbutton2{

   color: white;
   background-color: hsl(14, 86%, 42%);
   border: 1px solid white;
   border-radius: 50%;
   cursor: pointer;
}
.minusbutton2{
       color: white;
   background-color: hsl(14, 86%, 42%);
   border: 1px solid white;
   border-radius: 50%;
   width: 20px;
   cursor: pointer;
}
.countdownid2{
 color: white;
}
#price-tags1{
    color: hsl(14, 86%, 42%);
}
.fade-tittle2{
    color: hsl(14, 25%, 72%);
}
/* Cards 2 End Here */
/* Cards 3 start here */
.cards-child3{
   
}
.countdownid3{
 color: white;
}
.add-to-cart-btn3{
    height: 35px;
    width:140px ;
    border: 1px solid hsl(12, 20%, 44%);
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add-to-cart-btn3:hover{
    background-color: hsl(14, 86%, 42%);
}
.before-hover3{
     justify-content: center;
    align-items: center;
    gap: 10px;
    display:flex;
    font-size: 10px;
}
.after-hover3{
    display:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
/* cards 3 end here */

.cards-child4{
    
}
.add-to-cart-btn4{
    height: 35px;
    width:140px ;
    border: 1px solid hsl(12, 20%, 44%);
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add-to-cart-btn4:hover{
    background-color: hsl(14, 86%, 42%);
}
.before-hover4{
     justify-content: center;
    align-items: center;
    gap: 10px;
    display:flex;
    font-size: 10px;
}
.after-hover4{
    display:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.countdownid4{
 color: white;
}
/* cards 4 end */
.cards-child5{
    
}
.add-to-cart-btn5{
    height: 35px;
    width:140px ;
    border: 1px solid hsl(12, 20%, 44%);
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add-to-cart-btn5:hover{
    background-color: hsl(14, 86%, 42%);
}
.before-hover5{
     justify-content: center;
    align-items: center;
    gap: 10px;
    display:flex;
    font-size: 10px;
}
.after-hover5{
    display:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.countdownid5{
 color: white;
}
/*cards 5 end here */
.cards-child6{
    
}
.add-to-cart-btn6{
    height: 35px;
    width:140px ;
    border: 1px solid hsl(12, 20%, 44%);
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add-to-cart-btn6:hover{
    background-color: hsl(14, 86%, 42%);
}
.before-hover6{
     justify-content: center;
    align-items: center;
    gap: 10px;
    display:flex;
    font-size: 10px;
}
.after-hover6{
    display:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.countdownid6{
 color: white;
}

/*Cards 6 here */
.add-to-cart-btn7{
    height: 35px;
    width:140px ;
    border: 1px solid hsl(12, 20%, 44%);
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add-to-cart-btn7:hover{
    background-color: hsl(14, 86%, 42%);
}
.before-hover7{
     justify-content: center;
    align-items: center;
    gap: 10px;
    display:flex;
    font-size: 10px;
}
.after-hover7{
    display:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.countdownid7{
 color: white;
}

.cards-child7{
  
}
/*cards 7 End */
.add-to-cart-btn8{
    height: 35px;
    width:140px ;
    border: 1px solid hsl(12, 20%, 44%);
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add-to-cart-btn8:hover{
    background-color: hsl(14, 86%, 42%);
}
.before-hover8{
     justify-content: center;
    align-items: center;
    gap: 10px;
    display:flex;
    font-size: 10px;
}
.after-hover8{
    display:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.countdownid8{
 color: white;
}

.cards-child8{
    
}
/* Cards 8 end here */
.add-to-cart-btn9{
    height: 35px;
    width:140px ;
    border: 1px solid hsl(12, 20%, 44%);
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
.add-to-cart-btn9:hover{
    background-color: hsl(14, 86%, 42%);
}
.before-hover9{
     justify-content: center;
    align-items: center;
    gap: 10px;
    display:flex;
    font-size: 10px;
}
.after-hover9{
    display:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.countdownid9{
 color: white;
}


.cards-child9{
   
}

/* start the second part of our project */
#second-main-div-child{

}
.full-div-second{

}
.change-color-yourcart{
    color: hsl(14, 86%, 42%);
}

#after-cart{
    display: none;
}
#before-cart{
    display: inline;
}
#yourcartandemptyimg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    background-color: white;
    border-radius: 10px;
    margin-top:80px;
}
#empty-cart{
    width: 250px;
    display: block;
}
#yourcartandemptyimg-child{
    position: relative;
     display:inline;
}
#yourcartandemptyimg-child p{

}
#card1-fullitemadded{
    display: none;
    justify-content: space-between;
    background-color: hsl(9, 16%, 92%);
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
}
#card1-fullitemadded-child1{
display: grid;
grid-template-rows: 30px;
 padding-left: 30px;
}
#productprice-child{
    display: flex;
    flex-direction: row;
}
#countthe-theproductprice{
    color: hsl(14, 86%, 42%);
    font-size: 20px;
    font-weight: 700;
}
#cross-button{
    margin-right: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid hsl(14, 86%, 42%);
    background-color: hsl(9, 16%, 92%);
    color: white;
    cursor: pointer;
}
/* Card two */
#card2-fullitemadded{
    display: none;
    justify-content: space-between;
    background-color: hsl(9, 16%, 92%);
    align-items: center;
        margin-top: 5px;
    margin-bottom: 5px;
}
#card2-fullitemadded-child2{
display: grid;
grid-template-rows: 30px;
 padding-left: 30px;
}
#productprice-child2{
    display: flex;
    flex-direction: row;
}
#countthe-theproductprice2{
    color: hsl(14, 86%, 42%);
    font-size: 20px;
    font-weight: 700;
}
#cross-button2{
    margin-right: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid hsl(14, 86%, 42%);
    background-color: hsl(9, 16%, 92%);
    color: white;
    cursor: pointer;
}
/* Card three */
#card3-fullitemadded{
    display: none;
    justify-content: space-between;
    background-color: hsl(9, 16%, 92%);
    align-items: center;
        margin-top: 5px;
    margin-bottom: 5px;
}
#card3-fullitemadded-child3{
display: grid;
grid-template-rows: 30px;
 padding-left: 30px;
}
#productprice-child3{
    display: flex;
    flex-direction: row;
}
#countthe-theproductprice3{
    color: hsl(14, 86%, 42%);
    font-size: 20px;
    font-weight: 700;
}
#cross-button3{
    margin-right: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid hsl(14, 86%, 42%);
    background-color: hsl(9, 16%, 92%);
    color: white;
    cursor: pointer;
}
/* Card Four */
#card4-fullitemadded{
    display: none;
    justify-content: space-between;
    background-color: hsl(9, 16%, 92%);
    align-items: center;
        margin-top: 5px;
    margin-bottom: 5px;
}
#card4-fullitemadded-child4{
display: grid;
grid-template-rows: 30px;
 padding-left: 30px;
}
#productprice-child4{
    display: flex;
    flex-direction: row;
}
#countthe-theproductprice4{
    color: hsl(14, 86%, 42%);
    font-size: 20px;
    font-weight: 700;
}
#cross-button4{
    margin-right: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid hsl(14, 86%, 42%);
    background-color: hsl(9, 16%, 92%);
    color: white;
    cursor: pointer;
}
/* Card Five */
#card5-fullitemadded{
    display: none;
    justify-content: space-between;
    background-color: hsl(9, 16%, 92%);
    align-items: center;
        margin-top: 5px;
    margin-bottom: 5px;
}
#card5-fullitemadded-child5{
display: grid;
grid-template-rows: 30px;
 padding-left: 30px;
}
#productprice-child5{
    display: flex;
    flex-direction: row;
}
#countthe-theproductprice5{
    color: hsl(14, 86%, 42%);
    font-size: 20px;
    font-weight: 700;
}
#cross-button5{
    margin-right: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid hsl(14, 86%, 42%);
    background-color: hsl(9, 16%, 92%);
    color: white;
    cursor: pointer;
}
/* Card six */
#card6-fullitemadded{
    display: none;
    justify-content: space-between;
    background-color: hsl(9, 16%, 92%);
    align-items: center;
        margin-top: 5px;
    margin-bottom: 5px;
}
#card6-fullitemadded-child6{
display: grid;
grid-template-rows: 30px;
 padding-left: 30px;
}
#productprice-child6{
    display: flex;
    flex-direction: row;
}
#countthe-theproductprice6{
    color: hsl(14, 86%, 42%);
    font-size: 20px;
    font-weight: 700;
}
#cross-button6{
    margin-right: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid hsl(14, 86%, 42%);
    background-color: hsl(9, 16%, 92%);
    color: white;
    cursor: pointer;
}
/* Card seven */
#card7-fullitemadded{
    display: none;
    justify-content: space-between;
    background-color: hsl(9, 16%, 92%);
    align-items: center;
        margin-top: 5px;
    margin-bottom: 5px;
}
#card7-fullitemadded-child7{
display: grid;
grid-template-rows: 30px;
 padding-left: 30px;
}
#productprice-child7{
    display: flex;
    flex-direction: row;
}
#countthe-theproductprice7{
    color: hsl(14, 86%, 42%);
    font-size: 20px;
    font-weight: 700;
}
#cross-button7{
    margin-right: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid hsl(14, 86%, 42%);
    background-color: hsl(9, 16%, 92%);
    color: white;
    cursor: pointer;
}
/* Card Eight */
#card8-fullitemadded{
    display: none;
    justify-content: space-between;
    background-color: hsl(9, 16%, 92%);
    align-items: center;
        margin-top:50px;
    margin-bottom: 5px;
}
#card8-fullitemadded-child8{
display: grid;
grid-template-rows: 30px;
 padding-left: 30px;
}
#productprice-child8{
    display: flex;
    flex-direction: row;
}
#countthe-theproductprice8{
    color: hsl(14, 86%, 42%);
    font-size: 20px;
    font-weight: 700;
}
#cross-button8{
    margin-right: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid hsl(14, 86%, 42%);
    background-color: hsl(9, 16%, 92%);
    color: white;
    cursor: pointer;
}
/* Card NINE */
#card9-fullitemadded{
    
    display: none;
    justify-content: space-between;
    background-color: hsl(9, 16%, 92%);
    align-items: center;
        margin-top: 5px;
    margin-bottom: 5px;
}
#card9-fullitemadded-child9{
display: grid;
grid-template-rows: 30px;
 padding-left: 30px;
}
#productprice-child9{
    display: flex;
    flex-direction: row;
}
#countthe-theproductprice9{
    color: hsl(14, 86%, 42%);
    font-size: 20px;
    font-weight: 700;
}
#cross-button9{
    margin-right: 30px;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: 1px solid hsl(14, 86%, 42%);
    background-color: hsl(9, 16%, 92%);
    color: white;
    cursor: pointer;
}
/* cart item select End here */

/* Confirmation item start here */
#Total-price-fulldiv{
    display: none;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    width: 1fr;
    font-size: 16px;
    font-weight: 600;
    border-radius: 20px;
}
#Total-price-fulldiv-child2{
        font-size: 24px;
    font-weight: 600;
    color: hsl(14, 86%, 42%);
}
.dollercolor{
    color: hsl(14, 86%, 42%);
}
#price-tags3,#price-tags4
,#price-tags5
,#price-tags6
,#price-tags7
,#price-tags8
,#price-tags9{
    color: hsl(14, 86%, 42%);
}
/*carbon delevery */
#carbon-delevery{

    display: flex;
    justify-content:center;
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
}
#confirm-button{
    height: 55px;
    width: 400px;
    background-color: hsl(14, 86%, 42%);
    color: white;
    margin-left: 50px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 17px;
}
#confirm-button:hover{
       box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
#carbondelevery-confirmbutton{
    display: block;
}

/* Pop up */

#order-popup-fulldiv {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;

  background: rgba(0, 0, 0, 0.4); 
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);

  display: none;
  justify-content: center;
  align-items: center;
  z-index: 999; 
}


#order-popup-fulldiv-child {
  background-color: white;
  width: 400px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
#start-neworder{
    height: 40px;
    width: 200px;
        color: white;
    margin-left: 100px;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    font-size: 13px;
        background-color: hsl(14, 86%, 42%);
}
#start-neworder:hover{
     box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}