body{
    background-color: hsl(20, 50%, 98%);
    margin: 0;
    padding-left: 50px;
    padding-right: 50px;
     font-family: "Red Hat Text", sans-serif;
}
#nav-bar{
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
#full-div{
    display: grid;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: auto
}
#first-main-div{
    
}
.making-cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 400px 400px 400px;
    gap: 10px;
}
.cards-child1{

  align-items: start;
}
.image-waffle-1{
    width: 200px;
    border-radius: 10px;
}
.add-to-cart-icon{
 width: 17px;
}
.add-to-cart-btn{
    height: 35px;
    width:140px ;
    border: 1px solid hsl(12, 20%, 44%);
    background-color: white;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.before-hover{
     justify-content: center;
    align-items: center;
    gap: 10px;
    display:flex;
    font-size: 10px;
}
.add-to-cart-btn:hover{
    background-color: hsl(14, 86%, 42%);
}

.after-hover{
    display:none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.plusbutton{

   color: white;
   background-color: hsl(14, 86%, 42%);
   border: 1px solid white;
   border-radius: 50%;
   cursor: pointer;
}
.minusbutton{
       color: white;
   background-color: hsl(14, 86%, 42%);
   border: 1px solid white;
   border-radius: 50%;
   width: 20px;
   cursor: pointer;
}
.countdownid{
 color: white;
}
.price-tags{
    color: hsl(14, 86%, 42%);
}
.fade-tittle{
    color: hsl(14, 25%, 72%);
}
.cards-child2{
    
}
.cards-child3{
    background-color:black;
}
.cards-child4{
    background-color:blanchedalmond;
}
.cards-child5{
    background-color:blue;
}
.cards-child6{
    background-color:brown;
}
.cards-child7{
    background-color:blueviolet;
}
.cards-child8{
    background-color:cadetblue;
}
.cards-child9{
    background-color:coral;
}


#second-main-div{
   
}